@font-face {
    font-family: 'ralewaygras';
    src: url(police/Raleway-Bold.ttf);
}
@font-face {
    font-family: 'ralewaymedium';
    src: url(police/Raleway-Medium.ttf);
}
#menuhautliens {
    display: flex;
}
.logo {
    max-height: 45px;
}
.nounder {
    text-decoration: none;
    color: black;
    font-family: ralewaymedium;
    font-size: 100%;
    padding-right: 10px;
}
ul {
    list-style-type: none;
}
.titredubas {
    font-family: ralewaygras;
    font-size: 100%;
    padding-bottom: 4%;
    padding-top: 4%;
}
body {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 30px;
}
footer {
    background-color: #F2F2F2;
    height: max-content;
}
footer {
    display: flex;
    justify-content: space-around;

}
header {
    display: flex;
    align-items: center;
}
.lienhaut {
    margin-right: 70px;
    text-decoration: none;
    color: black;
    font-family: ralewaymedium;
    font-size: 100%;
}
.haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}
.bas {
    width: 33%;
    display: flex;
    flex-direction: column;
}
.margebas {
    padding-bottom: 2.3%;
}
.lienhaut:hover {
    color: #0065FC;
}
.nounder:hover {
    color: #0065FC;
}
p.menua {
    font-family: ralewaygras;
    font-size: 140%;
    margin-block-end: 0em;
}
p.menub {
    font-family: ralewaymedium;
    font-size: 90%;
}
#menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 3%;
} 
.locationico {
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.placetext {
    width: 180px;
    height: 36px;
    font-family: ralewaygras;
    border-width: 1px;
    border-left: 0px;
    border-right: 0px;
    border-color: #F2F2F2;
    border-style: solid;
    
}
#recherche {
    display: flex;
    margin-bottom: 20px;
}
form {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boutonsearch {
    width: 100px;
    height: 40px;
    padding-bottom: 1px;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-family: ralewaymedium;
    color: white;
}
button.boutonsearch:hover {
    height: 38px;
    width: 96px;
}
#sousmenu {
    display: flex;
    height: 40px;
}
.lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #F2F2F2;
    border-left: 0px;
    margin-left: 3%;
    font-family: ralewaygras;
}
.lien:hover {
    background-color: #DEEBFF;
    text-decoration: none;
}
#logementdispo {
    display: flex;
    align-items: center;
}
.rondico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #DEEBFF;
}
.type {
    margin-left: 10px;
    margin-right: 15px;
}
.filtres {
    font-family: ralewaygras;
}
#hebergements {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
#marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 5px 20px 20px 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h3 {
    font-family: ralewaygras;
    margin-left: 15px;
    margin-right: 20px;
}
.plus{
    color: black;
    font-family: ralewaygras;
    text-decoration: none;
    margin-left: 10px;
}
#hotels {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.hotel {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 6px;
    width: calc(100% / 3 - 20px);
    line-height: 10px;
    box-sizing: border-box;
}
.nomhotel {
    font-family: ralewaygras;
    margin-left: 6px;
    color: black;
    text-decoration: none;
}
.couthotel {
    font-family: ralewaymedium;
    margin-left: 6px;
    color: black;
    text-decoration: none;
}
.image {
    width: 100%;
    border-radius: 18px 18px 0px 0px;
}
.etoiles {
    display: flex;
    width: fit-content;
    margin-bottom: 6px;
    margin-left: 6px;
}
.icobleu {
    color: #0065FC;
}
.icogris {
    color: #F2F2F2;
}
.logement {
    font-family: ralewaymedium;
    margin-left: 10px;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.logo {
    margin-right: 10px;
}
#populaire {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: max-content;
    padding: 15px;
}
#populairehaut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: ralewaygras;
}
#iconegraph {
    margin-right: 20px;
} 
#hotelpopulaire {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-height: max-content;
}
.imghotelpop {
    width: 170px;
    height: 170px;
    border-radius: 20px 0px 0px 20px;
}
.lienpop {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 6px;
    display: flex;
}
.textepop {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.nomhotelpop {
    font-family: ralewaygras;
    color: black;
}
.couthotelpop {
    font-family: ralewaymedium;
    color: black;
}
.etoilespop {
    display: flex;
    width: fit-content;
    margin-bottom: 6px;
}
#activites {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
#activite {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.deuxact {
    display: flex;
    flex-direction: column;
    width: 21%;
    justify-content: space-between;
    min-width: 200px;
    margin: 20px;
}
.uneact {
    width: 21%;
    border-radius: 25px;
    box-shadow: -3px 3px 5px #f2f2f2;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin: 20px;
}
.imguneact {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.imgdeuxact {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.divimguneact {
    overflow: hidden;
    height: max-content;
}
.divimgdeuxact {
    overflow: hidden;
}
.acttitre {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: initial;
    padding: 5%;
    font-family: ralewaygras;
    color: black;
    flex: 1;
    text-align: center;
    padding-bottom: 6%;
}
#titleact {
    font-family: ralewaygras;
    margin-bottom: 2%;
}
.petitact {
    border-radius: 25px;
    box-shadow: -3px 3px 5px #f2f2f2;
}
.grandact {
    border-radius: 25px;
    box-shadow: -3px 3px 5px #f2f2f2;
    margin-bottom: 20px;
}

@media screen and (max-width: 1240px)
{
.hotel {
    width: calc(100% / 2 - 20px);
}
#hotelpopulaire {
    justify-content: space-around;
    height: -webkit-fill-available;
}
}
@media screen and (max-width: 1025px) 
{
.lienhaut {
    margin-right: 30px;
}
.hotel {
    width: calc(100% - 20px);
}
#populaire {
    margin-left: 20px;
    width: calc(100% / 2 - 40px);
    height: max-content;
}
#marseille {
    margin-right: 20px;
    width: calc(100% / 2 - 40px);
}
.lienpop {
    flex-direction: column;
    margin-bottom: 20px;
}
#hotelpopulaire {
    height: max-content;
    width: 100%;
}
.imghotelpop {
    width: 100%;
    height: auto;
    border-radius: 18px 18px 0px 0px;
}
.textepop {
    margin-left: 10px;
}
.nomhotelpop {
    margin-block-end: auto;
}
#activite {
    flex-wrap: wrap;
}
.deuxact {
    width: 29%;
}
.uneact {
    width: 29%;
}
.petitact {
    height: 50%;
    display: flex;
    flex-direction: column;
}
.grandact {
    height: 50%;
    display: flex;
    flex-direction: column;
}
.deuxact.dessous {
    flex-direction: row;
    width: 75%;
}
.actdessous {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}
.lien
{
    height: -webkit-fill-available;
}
#sousmenu {
    flex-wrap: wrap;
}
}
@media screen and (max-width: 1000px)
{
.titredubas {
    padding-bottom: 20px;
}
.margebas {
    padding-bottom: 10px;
}
.deuxact {
    width: 28%;
}
.uneact {
    width: 28%;
}
.lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    border-radius: 22.5px;
    border-style: solid;
    border-width: 2px;
    border-color: #F2F2F2;
    border-left: 0px;
    margin-left: 3%;
    font-family: ralewaygras;
    margin-bottom: 10px;
    height: 38px;
}
#sousmenu {
    height: auto;
}
}
@media screen and (max-width: 933px)
{
.animauxgauche {
    margin-left: calc(48px + 3%);
}
}
@media screen and (max-width: 830px)
{
body {
    padding: 0px;
    margin: 0px;
}
header {
    padding: 25px 0px 10px 20px;
}
#menu {
    padding: 0px 20px 0px 20px;
}
#recherche {
    margin-top: 10px;
    margin-bottom: 25px;
}
#hebergements {
    margin: 0px 10px 0px 10px;
}
#marseille {
    margin-right: 8px;
    padding: 15px 5px 15px 5px;
    width: 50%;
}
#populaire {
    margin-left: 8px;
    padding: 15px 5px 15px 5px;
    width: 50%;
}
#titleact {
    margin-top: 50px;
    text-align: center;
}
.uneact {
    min-width: 230px;
}
.deuxact.dessous {
    flex-direction: column;
    width: 40%;
}
.uneact {
    width: 40%;
}
.deuxact {
    width: 40%;
}
#activite {
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}
.actdessous {
    width: 100%;
    margin-left: 0px;
}
.divimgdeuxact {
    overflow: hidden;
    height: max-content;
}
}
@media screen and (max-width: 640px)
{
header {
    padding: 10px;
    flex-wrap: wrap;
}
.sinscrire {
    color: #0065FC;
}
#menuhautliens {
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
}
.sinscrire {
    margin-right: 45px;
}
.lienhaut {
    margin-right: 25px;
}
.logo {
    margin-right: 42px;
}
#activite {
    padding: 0px 10px 0px 10px;
}
.lienspecial {
    width: 50%;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom-style: solid;
    border-bottom-color: #f2f2f2;
}
.lienspecial:hover {
    color: #0065FC;
    border-bottom-color: #0065FC;
}
}
@media screen and (max-width: 588px) 
{
.animauxgauche {
    margin-left: 10px;
}
.romantiquegauche {
    margin-left: calc(48px + 3%);
}
}
@media screen and (max-width: 481px) 
{
.animauxgauche{
    margin-left: calc(48px + 3%);
}
.logo {
    margin-right: 50px;
}
}
@media screen and (max-width: 400px) 
{
.familialgauche {
    margin-left: calc(48px + 3%);
}
}
@media screen and (max-width: 360px)
{
.placetext {
    width: 120px;
}
} 
@media screen and (max-width: 550px)
{
.uneact {
    min-width: 0px;
}
p.menua {
    text-align: center;
}
p.menub {
    text-align: center;
}
.bas {
    width: auto;
}
footer {
    flex-direction: column;
}
#hebergements {
    flex-direction: column-reverse;
    margin: 0px;
}
#populaire {
    margin-left: 0px;
    width: 100%;
    border-radius: 0px;
}
#marseille {
    margin-right: 0px;
    width: 100%;
    border-radius: 0px;
    background-color: white;
}
.hotel {
    box-shadow: 1px 1px 8px #f2f2f2;
}
h3 {
    text-align: center;
}
.uneact {
    width: 100%;
}
.deuxact {
    width: 100%;
}
.deuxact.dessous {
    width: 100%;
}
#populairehaut {
    justify-content: space-around;
}
#recherche {
    align-self: center;
}
.logo {
    margin-left: 10px;
}
}
